<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/site.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1"/>
        <meta name="keywords" content="age of sigmar, warhammer, tabletop games, wargames, painting, website">
        <meta name="description" content="The website for SteveNewman84.">
    </head>
    <body>
        <header>
            <div class="nav_image">
                <div class="navbar">
                    <nav>
                      <div class="nav-wrapper white" id="navHeader">
                        <a href="{% url 'home' %}"  class="brand-logo center flow-text black-text">SteveNewman84</a>
                      </div>
                    </nav>
              </div>
            </div>

        </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="page-footer white">
        <div class="container black-text">
            <div class="row">
                <div class="col l6 s12">
                    <a target="_blank" href="https://icons8.com/icon/82855/news">News</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container black-text">
                2022 SteveNewman84
            </div>
        </div>
    </footer>
        <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
      <script src="{% static 'js/materialize.min.js' %}"></script>
        <script>
          $(document).ready(function()
          {
            $('.parallax').parallax();
          })
      </script>
    </body>
</html>