{% load static %}

<div class="row">
    {% for company in working_with  %}
        <div class="col s12 m4">
            <div class="card pink white-text">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator two_tile_image responsive-img" src="{% static  company.image_link  %}" alt="{{ company.image_alt_text }}">
                </div>
                <div class="card-content">
                    <span class="card-title activator white-text text-darken-4"><i class="material-icons right">more_vert</i>{{ company.name }}</span>
                    <p><a class="white-text bold_a_tag" href="{{ company.url }}">Visit {{ company.name }}</a></p>
                </div>
                <div class="card-reveal pink">
                    <span class="card-title white-text text-darken-4">{{ company.name }}<i class="material-icons right">close</i></span>
                    <p class="white-text">{{ company.description|safe }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>





